	body{
		font-family: Helvetica, Arial, Sans Serif;
		font-size: 1.5em;
		margin: 0 3em
	}
	
	#header{
		padding: 1em;
		border-bottom: 1px solid black;
		
	}
	
	#lang{
		display: inline;
		float: right;
	}

	#lang a{
		color:black;
		text-decoration: none;
		padding: 0.5em
	}

	#lang a:hover{
		color:white;
		background-color: black;
	}
	
	#top-menu {
		width: 100%;
		clear:both;
		
	}
	
	#top-menu  div{
		padding: 0.25em 0.5em;
		float:left;
	}	

	#top-menu  a{
		color: black;
		text-decoration: none
	}	
	
	#top-menu  .active{
		background-color: black;
		color: white;
	}
	
	#top-menu  div:hover{
		background-color: black;
		cursor: pointer
	}	
	
	#top-menu  div:hover a{
		color: white !important;
	}	
	
	#top-menu-twitter{
		float: right !important;
		background: #ffffff url('../img/twitter_black.png') no-repeat left center;
		padding-left: 1.5em !important;
		font-size:  0.75em !important;
	}
	
	#top-menu-twitter:hover{
		background-image: url('../img/twitter_white.png');
	}	
	
	#main{
		clear:both;
		padding-top: 1em;
		font-size:  0.75em !important;
	}
	

	#main-left {
		display:inline;
		width: 40%;
		float:left;
		text-align: center
		
	}
	
	#main-left p{
		margin-top: 0;

		text-align: left !important;
	}
	#main-right {
		display:inline;
		width: 60%;
		float:left
	}	
	#slider {
		margin-left: auto;
		margin-right: auto;
		-moz-box-shadow: 3px 3px 5px #888888;
	}
	
	#slider img {
		position:absolute;
		top:0px;
		left:0px;
		display:none;
	}
	
	#slider .nivo-controlNav {
		top: 310px;
		width: 100%;
		position:absolute;

	}
	
	#slider .nivo-controlNav img {
		display:inline;
		position:relative;
		vertical-align: middle;
		margin: 0 0.5em
	}
	
	#footer{
		width: 100%;
		clear:both;
		float:left;
		margin: 6em 0 2em 0;
		padding: 0.5em;
		font-size:  0.50em !important;
		font-style:italic;
		text-align: center;
		border-top: 1px solid black
		
	}
	
	.gallery-item {
		display:inline;
		/*width: 33%;*/
		float:left;
		text-align: center;
		padding: 0.5em;
		margin: 0.5em;
		-moz-box-shadow: 3px 3px 5px #888888;
	}
	
	.gallery-item:hover{
		 background-color: #FEFFAF;
		 cursor: pointer;
		 
	}
	
	#email{
		width: 100%;
		text-align: center;
		font-size: 1.5em;
	}
	
	#email img{
		vertical-align: middle
	}